body {
    background-image: url("../images/splash-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}​,
.myCard {
    width: 900px;
    background: lightgray;
}
.form-control {
    background: rgb(240, 237, 237);
}
.navbar-brand, .card-title, h2 {
    font-family: 'Lobster', cursive;
}
p, a {
    font-family: 'Barlow Condensed', sans-serif; 
}
footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: lightgray;
    padding: 20px;
}
.footer-links {
    color: lightgray;
}
.myButton {
    color: lightgray;
}